
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
            <mat-icon  >more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink] = "['/plotly']">Plotly</button>
            <button mat-menu-item [routerLink] = "['/footer-sticky-mat-table']"> Footer sticky Table</button>
            <button mat-menu-item [routerLink] = "['/primeng-table']">primeng-table</button>
        </mat-menu>
    </mat-toolbar>


<router-outlet></router-outlet>